body {
  margin: 0;
  height: 100vh;
  background-image: url('imagenes/contralorias.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.encabezado {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semitransparente como el div contenido original */
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden; /* Asegura que el borde redondeado contenga los enlaces */
}

.menu a {
  flex-grow: 1;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: background-color 0.3s; /* Suaviza la transición de color */
}

.menu a:hover, .menu a.active {
  background-color: rgb(63, 87, 65); /* Color verde oscuro para resaltar */
}

.contenido {
  color: white;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  text-align: center;
  margin-top: 20px;
}

