@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  margin: 0;
  min-height: 100vh;
  background-image: url('imagenes/contralorias.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

.encabezado {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 0;
  text-align: center;
  color: white;
}

.menu {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 80%;
  max-width: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px; /* Ajuste para asegurarse de que el menú tenga suficiente espacio */
}

.menu a {
  flex-grow: 1;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  text-align: center;
  transition: background-color 0.3s;
}

.menu a:hover, .menu a.active {
  background-color: rgb(63, 87, 65);
}

.contenido {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.contenido img {
  max-width: 100%;
  height: auto;
}

.contenido_infraeca, .contenido_eca, .conten_blog, .conten_info {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.contenido_infraeca img, .contenido_eca img, .conten_blog img, .conten_info img {
  max-width: 80%; /* Ajusta el tamaño máximo al 80% */
  height: auto;
}

.conten_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilo específico para el submenú */
.submenu table {
  width: 100%;
  table-layout: fixed;
}

.submenu td {
  text-align: center;
  vertical-align: top;
  padding: 10px;
}

.submenu a {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  color: black;
  background-color: white;
  padding: 10px 20px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
  border: 2px solid #ccc; /* Añade un borde similar al de la imagen */
}

.submenu a:hover {
  background-color: #ddd; /* Cambia el color de fondo al pasar el mouse */
  color: #000; /* Cambia el color del texto al pasar el mouse */
}

.submenu img {
  margin-top: 10px;
  max-width: 80px; /* Tamaño aumentado a 80px */
  height: auto;
}

/* Estilo para los bloques de texto */
.text-block {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  text-align: justify;
  margin: 20px 0;
  color: white;
  font-size: 0.8em; /* Tamaño de fuente más pequeño */
}

.text-block h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px; /* Espacio entre el título y el texto */
  font-size: 1.1em;
  color: white;
}
